.IconBG{
    width: 42px;
    height: 42px;
    background-color: #4CBD92;
    border-radius:50%;
    display: inline-block;
}
.iconSizeMessage{
    color: white;
    font-size: 20px;
}
.iconSize{
    color: white;
    font-size: 20px;
}
.profileImage{
    width: 50px;
    height: 50px;
    border-radius:50%;
    display: inline-block;
    border: 2px solid grey;
    padding: 2px;

}
.chatRow{
    height: 55px;
}

.message-text{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.totalMessages{
    margin-top: 0px;
}
.secondRowCard{
    height: 245px;
}

